* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444a52; }

footer {
  text-align: center;
  width: 100%;
  margin-top: 80px; }

h1 {
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  margin-bottom: 60px; }

.progress {
  clear: both;
  width: 800px;
  margin: 10px auto; }
  .progress ul {
    list-style: none;
    padding: 25px 10px 0 0;
    margin: 0;
    width: 360px;
    display: inline-block; }
  .progress li {
    height: 5px;
    width: 40px;
    float: left;
    margin: 2px; }
  .progress .open {
    background-color: #efefef; }
  .progress .done {
    background-color: #a7a7a7; }
  .progress p {
    display: inline-block;
    margin: 5px 0; }

.game {
  height: 800px;
  width: 800px;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  background: #3626ac;
  background: linear-gradient(135deg, #3626ac 0%, #4071c4 67%, #3ba2e9 100%);
  display: grid;
  grid-template-rows: 180px 180px 180px 180px;
  grid-template-columns: 180px 180px 180px 180px;
  grid-auto-flow: column;
  grid-gap: 20px; }

.field {
  position: relative;
  transform-style: preserve-3d;
  perspective: 800px; }

.card {
  border-radius: 15px;
  height: 180px;
  width: 180px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 1s; }
  .card i {
    margin: 65px;
    font-size: 50px;
    color: #fff; }
  .card-closed {
    background: #b0c0cb; }
  .card-open {
    background: #2b7fb5; }

.closed {
  transform: rotateY(180deg); }
