$cardSize: 180px;

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444a52;
}

footer {
	text-align: center;
	width: 100%;
	margin-top: 80px;
}

h1 {
	font-size: 2.5em;
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

.progress {
	clear: both;
	width: 800px;
	margin: 10px auto;

	ul {
		list-style: none;
		padding: 25px 10px 0 0;
		margin: 0;
		width: 360px;
		display: inline-block;
	}

	li {
		height: 5px;
		width: 40px;
		float: left;
		margin: 2px;
	}

	.open {
		background-color: #efefef;
	}

	.done {
		background-color: #a7a7a7;
	}

	p {
		display: inline-block;
		margin: 5px 0;
	}
}

.game {
	height: 800px;
	width: 800px;
	border-radius: 20px;
	margin: auto;
	padding: 10px;

	background: rgb(54,38,172);
    background: linear-gradient(135deg, rgba(54,38,172,1) 0%, rgba(64,113,196,1) 67%, rgba(59,162,233,1) 100%);

	display: grid;
	grid-template-rows: $cardSize $cardSize $cardSize $cardSize;
	grid-template-columns: $cardSize $cardSize $cardSize $cardSize;
	grid-auto-flow: column;
	grid-gap: 20px;
}

.field {
	position: relative;
	transform-style: preserve-3d;
	perspective: 800px;
}

.card {
	border-radius: 15px;
	height: $cardSize;
	width: $cardSize;
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
	backface-visibility: hidden;

	transform-style: preserve-3d;
  	transition: transform 1s;

	i {
		margin: 65px;
		font-size: 50px;
		color: #fff;
	}

	&-closed{
		background: #b0c0cb;
	}

	&-open {
		// background: #5cbf6a;
		background: #2b7fb5;
	}
}

.closed {
	transform: rotateY( 180deg );
}