* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444a52; }

footer {
  text-align: center;
  width: 100%;
  margin-top: 100px; }

h1 {
  font-size: 2.5em;
  width: 100%;
  text-align: center; }

.progress {
  clear: both; }
  .progress ul {
    list-style: none;
    margin: 5px auto; }
  .progress li {
    height: 5px;
    width: 40px;
    background-color: #a7a7a7;
    float: left;
    margin: 2px; }

.game {
  height: 800px;
  width: 800px;
  border-radius: 20px;
  background: linear-gradient(135deg, #1e4696 0%, #8fcdd6 100%);
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-rows: 160px 160px 160px 160px;
  grid-template-columns: 160px 160px 160px 160px;
  grid-auto-flow: column;
  grid-row-gap: 20px;
  grid-column-gap: 20px; }

.card {
  border-radius: 15px;
  height: 160px;
  width: 160px;
  margin: 10px;
  background-color: #52b152; }
